<div class="row">
  <div class="col-xl-12">
    <div class="m-portlet m-portlet--ngviewer">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text"> Update AppSetting </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="m-portlet__preview">
          <div class="col-md-2 m--margin-bottom-10-mobile">
            <button mat-raised-button [loader]="issave" (click)="update()" color="primary">
              <i class="la la-save"></i> Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
