<div class="row">
    <div class="col-xl-12">
        <div class="m-portlet m-portlet--ngviewer">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text"> Danh sách trang </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__preview">
                    <div class="table-loading-shade" *ngIf="isLoading">
                        <mat-spinner></mat-spinner>
                    </div>
                    <button (click)="opendialog()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air"
                        type="button"><i class="la la-plus"></i> Mới </button>
                    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                            <button mat-icon-button disabled></button>
                            <i [className]="node.Icon" style="margin-right:10px "></i>
                            <span [ngClass]="{'m--font-focus': node.Section}"> {{node.Name}}
                                <code *ngIf="(node.Url||node.Url!='')">
                                    {{node.Url}}
                                </code></span>
                            <mat-menu #appMenu="matMenu">
                                <button [disabled]="node.Section||(node.Url||node.Url!='')" mat-menu-item (click)="opendialog(null,node)">
                                    <i class="la la-plus"></i>
                                    <span>Thêm trang con</span>
                                </button>
                                <button mat-menu-item (click)="opendialog(node.AppPageID)">
                                    <i class="la la-edit"></i>
                                    <span>Chỉnh sửa trang</span>
                                </button>
                                <button mat-menu-item (click)="move(node.AppPageID)">
                                    <i class="la la-arrow-down"></i>
                                    <span>Di chuyển xuống</span>
                                </button>
                                <button mat-menu-item (click)="move(node.AppPageID,true)">
                                    <i class="la la-arrow-up"></i>
                                    <span>Di chuyển lên</span>
                                </button>
                                <button mat-menu-item (click)="delete(node)">
                                    <i class="la la-trash"></i>
                                    <span>Xóa trang</span>
                                </button>
                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                <i class="la la-cog"></i>
                            </button>
                            <span *ngIf="node.Hide" class="m-badge m-badge--danger m-badge--wide">
                                Ẩn
                            </span>
                        </mat-tree-node>
                        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename"
                                (click)="toggleNode(node)">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            <i [className]="node.Icon" style="margin-right:10px "></i>
                            <span disabled>
                                {{node.Name}}</span>
                            <code *ngIf="(node.Url||node.Url!='')">
                                        {{node.Url}}
                            </code>
                            <mat-menu #appMenu="matMenu">
                                <button [disabled]="node.Section||(node.Url||node.Url!='')" mat-menu-item (click)="opendialog(null,node)">
                                    <i class="la la-plus"></i>
                                    <span>Thêm trang con</span>
                                </button>
                                <button mat-menu-item (click)="opendialog(node.AppPageID)">
                                    <i class="la la-edit"></i>
                                    <span>Chỉnh sửa trang</span>
                                </button>
                                <button mat-menu-item (click)="move(node.AppPageID)">
                                    <i class="la la-arrow-down"></i>
                                    <span>Di chuyển xuống</span>
                                </button>
                                <button mat-menu-item (click)="move(node.AppPageID,true)">
                                    <i class="la la-arrow-up"></i>
                                    <span>Di chuyển lên</span>
                                </button>
                                <button mat-menu-item (click)="delete(node)">
                                    <i class="la la-trash"></i>
                                    <span>Xóa trang</span>
                                </button>
                            </mat-menu>
                            <button mat-icon-button [matMenuTriggerFor]="appMenu">
                                <i class="la la-cog"></i>
                            </button>
                            <span *ngIf="node.Hide" class="m-badge m-badge--danger m-badge--wide">
                                Ẩn
                            </span>
                        </mat-tree-node>
                    </mat-tree>
                </div>
            </div>
        </div>
    </div>
</div>