<h2 mat-dialog-title>{{const_data.Id?'Sửa chức năng: '+const_data.FunctionName:'Thêm mới chức năng'}}</h2>
<mat-dialog-content class="mat-typography">
    <div class="content-dialog">
        <div *ngIf="isLoading" class="dialog-loading-shade">
            <mat-spinner></mat-spinner>
        </div>
        <form class="m-form" [formGroup]="formdata">
            <div class="m-portlet__body">
                <mat-form-field class="example-full-width">
                    <input formControlName="FunctionCode" matInput placeholder="Mã chức năng*">
                    <mat-error *ngIf="formdata.controls['FunctionCode'].errors?.required">{{vali_const.ms_required}}
                    </mat-error>
                    <mat-error *ngIf="formdata.controls['FunctionCode'].errors?.pattern">
                        6 ký tự (A->Z, 0->9)
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="FunctionName" matInput placeholder="Tên chức năng*">
                    <mat-error *ngIf="formdata.controls['FunctionName'].errors?.required">{{vali_const.ms_required}}
                    </mat-error>
                    <mat-error *ngIf="formdata.controls['FunctionName'].errors?.maxlength">{{vali_const.ms_textlength}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input formControlName="Description" matInput placeholder="Mô tả">
                </mat-form-field>
                <p>
                    <mat-checkbox formControlName="Lock">Khóa hoạt động</mat-checkbox>
                </p>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close><i class="la la-close"></i> Thoát</button>
    <button mat-raised-button [disabled]="isLoading" (click)="loaddata()" color="accent">
        <i class="la la-refresh"></i> Tải lại</button>
    <button mat-raised-button [disabled]="isLoading" [loader]="issave" (click)="savedata(formdata.value)"
        color="primary"><i class="la la-save"></i> Lưu</button>
</mat-dialog-actions>