<div style="height: 100vh;"
	class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6"
	id="m_login">
	<div class="m-grid__item  m-grid__item--order-tablet-and-mobile-2 m-grid m-grid--hor m-login__aside"
		style="background-color:rgb(242, 201, 138)">
		<div class="m-grid__item image-display-none-footer-login">
			<div class="m-login__logo"><a href="" target="_blank"><img
						src="../../../assets/media/img/logo/logo.png"></a></div>
		</div>
		<div class="m-grid__item">
			<div class="footer-login container">
          <!-- content -->
			</div>
		</div>
	</div>
	<div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1 m-login__wrapper">
		<div class="m-login__body">
			<div class="m-login__signin ng-star-inserted">
				<div class="m-login__title">
					<h3 class="m-login__title">
						ĐĂNG NHẬP
					</h3>
				</div>
				<div *ngIf="login_ms!=''" class="m-alert m-alert--icon m-alert--outline alert alert-danger">
					<div class="m-alert__icon">
						<i class="la la-warning"></i>
					</div>
					<div class="m-alert__text">
						<strong>
							Lỗi đăng nhập!
						</strong>
						{{login_ms}}
					</div>
				</div>
				<form class="m-login__form m-form" [formGroup]="login_fr" autocomplete="off"
					(ngSubmit)="login(login_fr.value)" autocomplete="off">
					<mat-form-field class="example-full-width">
						<input formControlName="username" matInput placeholder="Tên đăng nhập*">
						<mat-error *ngIf="login_fr.controls['username'].errors?.required">{{vali.ms_required}}
						</mat-error>
						<mat-error *ngIf="login_fr.controls['username'].errors?.pattern">{{vali.ms_pattern}}
						</mat-error>
					</mat-form-field>
					<mat-form-field class="example-full-width">
						<input type="password" formControlName="password" matInput placeholder="Mật khẩu*">
						<mat-error *ngIf="login_fr.controls['password'].errors?.required">{{vali.ms_required}}
						</mat-error>
						<mat-error *ngIf="login_fr.controls['password'].errors?.pattern">{{vali.ms_pattern}}
						</mat-error>
					</mat-form-field>
					<div class="m-login__action m-login__action--fit">
						<mat-checkbox formControlName="remember">Ghi nhớ tài khoản</mat-checkbox>
						<button [loader]="load" mat-raised-button color="primary" type="submit">Đăng
							nhập</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
