/* Styles go here */

.page-header, .page-header-space {
    height: 20px;
  }
  
  .page-footer, .page-footer-space {
    height: 40px;
  
  }
  
  .page-footer {
    position: absolute;
    bottom: 0;
    left: 20px;
    font-size: 11px;
  }
  
  .page-header {
    position: fixed;
    top: 0mm;
  }
  
  .page {
    page-break-after: always;
  }
  
  @page {
    margin: 20mm;
  }
  @page :first {
    padding-top: 40mm;
  }
  @media print {
    @page:first {
      padding-top: 40mm;
      margin-bottom: 50mm;
    }
    .page-footer {
      position: fixed;
      bottom: 0;
      left: 20px;
      font-size: 11px;
    }
    
    .page-header {
      position: fixed;
      top: 0mm;
    }
     thead {display: table-header-group;} 
     tfoot {display: table-footer-group;}
     
     button {display: none;}
     
     body {margin: 0;}
  }
  .table-content_, .table-content_ td, .table-content_ th {
    border: none;
    padding: 0px;
  }
  .row {
    display: flex;
  }
  
  .table {
    border-collapse: collapse !important;
    display: table !important;
  }
  .text-traform {
    text-transform: uppercase;
  }